.video {
  background-color: @base-white-color;
}

.video__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @base-black-color;
  margin: 0;
}

.video__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @base-black-color;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .video {
    display: flex;
    justify-content: center;
    width: 768px;
    min-height: 685px;
  }

  .video__wrapper {
    width: 648px;
    min-height: 685px;
  }

  .video__block {
    width: 445px;
    min-height: 117px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 1200px;
  }
}
