.intro {
  width: 320px;
  list-style-type: none;
  padding: 0;
  background-color: @base-white-color;
}

.intro__main-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @base-black-color;
  text-transform: uppercase;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0 15px;
}

.intro__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 320px;
  min-height: 162px;
}

.intro__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: @base-black-color;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .intro {
    display: flex;
    width: 768px;
  }

  .intro-wrapper {
    display: flex;
    width: 768px;
  }

  .intro__text-block {
    width: 520px;
    height: 110px;
    margin-left: 124px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    display: flex;
    width: 1200px;
  }

  .intro-wrapper {
    display: flex;
    width: 1200px;
  }

  .intro__text-block {
    width: 483px;
    height: 110px;
    margin-left: 358px;
  }
}

